body{
    margin: 0px;
    padding: 0px;
}
#header{
    background-color: #1c0bb1;
    width: 100%;
    height: 150px;
    margin: 0px;
    display: grid;   
    grid-template-rows: 100px 50px;
}
#header h1{  
    padding: 0px;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nav{
    background-color: #e2c523;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
}
ul {    
    background-color: #ffffff;
    margin-top: 0px;    
    padding: 0px;
    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

li {
    background-color: #8d0b48;
    float: none;
    padding: 0px;
    margin: 3px;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}

li:hover{
    background-color: #0b8d16;
    float: none;
    padding: 0px;
    margin: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
}

#section{
    background-color: aqua;
    display: flex;
}
