
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #bdb0e9;
    font-family: "Poppins", sans-serif;
}

.nav {
    width: 300px;
}

.nav__link{
    color: #341234;
    display: block;
    padding: 15px 0px;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
}

<<<<<<< HEAD

#barra-movil{
    height: 40px;
    width: 40px;
    background-color: #090979;
    border-radius: 7.5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#barra-movil a {
    width: 22px;
    height: 18px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.sub-barra{
    background-color: #ffffff;
    border-radius: 2px;
}

@media only screen and (max-width: 1024px) {
    

    #header {
        height: 40px;
        grid-template-columns: 3fr 4fr;
        grid-template-rows: 1fr;
    }
    
    #header h1{
        font-size: 15px;
    }

    a {
        font-size: 15px;
    }

}

@media only screen and (max-width: 768px){
    #header {
        grid-template-columns: 1fr 40px;
    }


    #barra-movil {
        display: flex;
    }

    ul {
        grid-template-columns: 1fr;
        gap: 1px;
    }

    li {
        height: 40px;
    }
}

=======
.nav__link--inside:hover{
    background-color: #d2cbe8;
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0px 16px 16px 0px;
    background-color: #ffffff;
}
>>>>>>> 481cf04d08171a50e55f306fa27d19475323fcb8

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0px auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #341234;
    list-style: none;
    transition: heigth .4s;
    height: 0px;
}


